* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    background-color:rgb(255, 255, 255);
    padding: 10px 20px;
    gap: 15px;

}

header a {
    display: block;
} 

header img {
    width: 100px; 
    height: 70px;
    display: block;
}

.fa-brands{

    color: green;
}

p:first-child{
    color: red;
}
p:last-child{
    color: rgb(11, 11, 11);
}